@import "../../shared/styles/vars.scss";
.form {
  border: 1px solid $color-black;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.titleInput,
.bodyInput {
  @extend %input;
}
.addPostBtn {
  @extend %greenBtn;
}
