$color-white: #f6f8fb;
$color-green: #32a300;
$color-active: #ff9b00;
$color-error: #ff4c4c;
$color-blue: #49aaf5;
$color-black: #353535;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
%btn {
  padding: 10px 20px;
  font-size: 20px;
  text-transform: capitalize;
  color: $color-white;
  font-weight: 700;
  border-radius: 8px;
}

%input {
  display: block;
  width: 300px;
  padding: 10px 20px;
  margin: 10px 0 0 0;
  font-size: 20px;
  text-transform: capitalize;
  color: $color-black;
  font-weight: 400;
  border-radius: 8px;
  background-color: $color-white;
  border: 1px solid $color-black;
}
%greenBtn {
  @extend %btn;
  background-color: $color-green;
}
