@import "./shared/styles/vars.scss";

.appWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $color-white;
  color: $color-black;
}
.modalOpenBtn {
  @extend %greenBtn;
}

.header {
  width: 100%;
  padding: 20px;
}
.headerNav {
  width: 100%;
}
.headerList {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.headerFilter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
